.productCard>img {
    width: 200px;
    height: 200px;
}

.productCard {
    border-radius: 10px;
    height: 450px;
    width: 300px;
    margin: 40px 20px;
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.productCard:hover{
    box-shadow: 0 0 5px rgba(0,0,0,50)
}

.flipkartIcon {
    margin: 10px 0px;
    width: 100px !important;
    height: 30px !important;
}

.productCard>h2 {
    margin: 4px;
    text-align: center;
    color: rgb(67, 57, 57);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.price {
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
}

 

.off {
    color: green;
    font-weight: 700;
}

.BuyNow {
    background: orange;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 8px;
}
.rating > span:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: green;
    width: 50px;
    color: white;
    margin-right: 5px;
    border-radius: 3px;
}
.rating >span:first-child> img{
    width: 15px;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
}