.productCard>img {
    width: 200px;
    height: 200px;
}

.productCard {
    border-radius: 10px;
    height: 400px;
    width: 300px;
    margin: 40px 20px;
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.productCard:hover{
    box-shadow: 0 0 5px rgba(0,0,0,50)
}

.flipkartIcon {
    margin: 10px 0px;
    width: 100px !important;
    height: 30px !important;
}

.productCard>h2 {
    color: rgb(67, 57, 57);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.price {
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
}

.discount {
    font-size: 18px;
    margin-right: 5px;
    color: rgb(140, 140, 140);
    text-decoration: line-through;
}

.off {
    color: green;
    font-weight: 700;
}

.BuyNow {
    background: orange;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 8px;
}